@page "/AdminView_EditProduct"
@using webbutveckling_labb2_Bjornanger.Shared.DTOs.ProductDTOs
@using webbutveckling_labb2_Bjornanger.Shared.Interfaces
@inject IProductService<ProductDTO> adminService


<h3>AdminView_EditProduct</h3>




@code
{
    protected override async Task OnInitializedAsync()
    {
        
    }


}