@page "/GroceryShop"
@using webbutveckling_labb2_Bjornanger.Shared.DTOs.ProductDTOs
@using webbutveckling_labb2_Bjornanger.Shared.Interfaces
@using webbutveckling_labb2_Bjornanger.Shared.DTOs
@using webbutveckling_labb2_Bjornanger.Shared.DTOs.UserDTOs
@inject IProductService<ProductDTO> productService
@inject ICategoryService<CategoryDTO> categoryService
@inject IOrderService<OrderDTO> orderService
@inject ICustomerService<CustomerDTO> customerService

@rendermode InteractiveServer
<h3>GroceryShop</h3>







@code {
    
}