<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Webbutveckling.BlazorClient</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Corner Shop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistrationPage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register Customer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateProduct">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EditProduct">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Edit Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerOrders">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Customer Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShopView">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grocery Shop
            </NavLink>
        </div>
    </nav>
</div>

